@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Alata', sans-serif;
}

header {
  height: 100vh;
}

header
.hero-container {
  background: url('./images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: var(--white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header
nav {
  position: absolute;
  top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

header
.logo {
  font-size: 24px;
  font-weight: bold;
}

header
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 24px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger
div {
  height: 1px;
  width: 24px;
  border: 1px solid var(--white);
}

header
.hero-text-container {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 42px;
  font-weight: 300;
  line-height: 46px;
  text-transform: uppercase;
  padding: 26px 26px;
  margin: 0 24px;
  border: 1px solid var(--white);
}

.details-section {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-section
.details-card {
  margin: 96px 24px;
  text-align: center;
}

.details-section
img {
  height: 224px;
}

.details-section
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 46px 0 16px 0;
}

.details-section
p {
  line-height: 25px;
  color: var(--dark-gray);
}